.main {
  height: calc(100vh - 16px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80vw;
  display: flex;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 6px;
}
